* {
  box-sizing: border-box
}

body {
  @apply font-primary;
  padding: 0 !important;
  margin: 0 !important;
}

button:focus{
  outline:none !important;
}

  .container {
    max-width: 85%;
    margin: auto;
    @apply mx-auto;
  }

  .nav__container {
    max-width: 85%;
    margin: auto;
    @apply mx-auto;
  }
  
  @media (min-width: 1280px) {
    .container {
      max-width: 690px;
    }
    .nav__container {
      max-width: 60%;
    }
  }