* {
  box-sizing: border-box
}

body {
  @apply font-primary;
  padding: 0 !important;
  margin: 0 !important;
}

button:focus, input:focus, textarea:focus, select:focus{
  outline:none !important;
}

  .container {
    max-width: 85%;
    margin: auto;
    @apply mx-auto;
  }

  .nav__container {
    max-width: 85%;
    margin: auto;
    @apply mx-auto;
  }
  

/*  from Zero To Tablet Screens */
@media (max-width: 776px) {
  /* It's a style for the div that wrap the crop divs inside to handle it in several screens  */
.wrap__crop {
  height: 250px !important;
}
}

  /* from tablet screens to the largest */
  @media (min-width: 776px) {
    .container {
      max-width: 690px;
    }
  }

  /* from small labtops screen to the largest screen */
  @media (min-width: 1200px) {
    .nav__container {
      max-width: 60%;
    }
  }